<div class="about-container">
    <h2>About Me</h2>
    <div class="skills-boxes">
        <div class="box frontend">
			<h3>Frontend Developer</h3>
            <p>I specialize in creating responsive and visually appealing websites using Angular. My experience includes:</p>
            <ul>
                <li>Building dynamic single-page applications (SPAs)</li>
				
                <li>Implementing responsive design principles with HTML, CSS, and Bootstrap</li>
                <li>Optimizing performance for fast and seamless user experiences</li>
            
            </ul>
        </div>
        <div class="box backend">
            <h3>Backend Developer</h3>
            <p>As a Backend Developer, I focus on developing robust systems and APIs using Java. My skills include:</p>
            <ul>
                <li>Creating RESTful APIs using Spring Boot</li>
                <li>Managing databases with MySQL, DB2 and integrating with Java applications</li>
                <li>Ensuring security and efficiency in data handling</li>
                <li>Optimizing application performance and scalability</li>
            </ul>
        </div>
    </div>
</div>
