
<div class="home-container">
	<img src="assets/leet.jpg" alt="Leet Image" class="profile-photo" />
	<h1>Hi, I am Umang Joshi</h1>
	<h2>I am A <span class="typing-text">{{ typedText }}</span></h2>
	
	<p class="intro-text">
	  I am a dedicated and enthusiastic full-stack Java developer currently pursuing a 
	  <strong>B.Tech in Computer Science Engineering</strong> at <strong>Swami Keshvanand Institute of Technology Management and Gramothan</strong> in Jaipur.
	</p>
	
	<p>
	  With a strong foundation in <strong>Java, Angular, and Spring Boot</strong>, I am well-versed in both front-end and back-end development. 
	  My academic journey has equipped me with the skills to design and implement robust applications, and I am passionate about applying my knowledge to real-world projects.
	</p>
	
	<p>
	  I have a keen eagerness to learn new technologies and continuously enhance my skill set, making me adaptable in the ever-evolving tech landscape. 
	  I look forward to contributing my expertise and creativity to innovative projects.
	</p>
  
	<button (click)="viewResume()" class="resume-button">Check Resume</button>
</div>
<app-about></app-about>
<app-skills></app-skills>
<app-contact></app-contact>